{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": [
						"last 2 versions"
					]
				}
			}
		]
	],
	"plugins": [
		"transform-custom-element-classes",
		"@babel/plugin-syntax-object-rest-spread",
		"@babel/plugin-syntax-dynamic-import",
		[
			"module-resolver",
			{
				"root": [
					"./src"
				]
			}
		]
	]
}