{
    "parser": "babel-eslint",
    "extends": "standard",
    "globals": {
        "fetch":false,
        "self":false,
        "caches":false,
        "HTMLElement":false,
        "describe":false,
        "test":false,
        "expect":false,
        "gapi": false,
        "env": false,
        "swal": false,
        "beforeEach": false
    }
}