<div class="ui container">
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="home" data-navigo class="item">Dashboard</a>
            <a href="tools" data-navigo class="item">Tools</a>
            <a href="discovery" data-navigo class="item">Archive</a>
            <div class="item right">
                <div class="ui button" data-bind-click="onLogoutClick">Logout</div>
            </div>
        </div>
    </div>
    <div class="ui main container">
        <div class="ui container" data-content>
        </div>
    </div>
</div>